<section id="select">
    <div class="container">
        <div ng-controller="SelectCtrl">
            <div class="row">
                <div class="col-md-4"><h1 id="logo"><img src="img/logo.png" alt="無料音ゲー flavabeats"></h1></div>
            </div>
            <div class="row search">
                <div class="col-md-3">
                    <input class="form-control"type="search" placeholder="Search" ng-model="search">
                </div>
                <div class="col-md-2 sort"><span ng-click="changeSort()"><i class="fa fa-sort"></i>Sort by level</span></div>
            </div>
            <div class="row">
                <div class="col-md-4 item" ng-repeat="m in music | filter:search | orderBy:'level':desc">
                    <a ng-href="#/game/{{m.id}}">
                        <img ng-src="{{m.img}}" class="music-image">
                        <div class="music-description">
                            <span class="title"><i class="fa fa-headphones"></i>{{m.title}}</span><br>
                            <span class="author">{{m.by}}</span><br>
                            <span class="select-license">{{m.license}}</span><br>
                            <span class="level" ng-bind-html="m.levelIcon"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="copyright">Copyright © 2014 flavabeats All Rights Reserved. created by <a href="https://twitter.com/bokuweb17">Bokuweb</a></div>
    </div>
</section>
<a ng-href="#/help" id="help"><i class="fa fa-question-circle"></i></a>
